.welcome {
  position: relative;

  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #270556, #481051);
  overflow: hidden;

  &__logo {
    position: relative;

    &__container {
      position: absolute;
      top: 40px;
      left: 2.5rem;
      display: flex;
      align-items: center;

      &-image {
      }

      &-name {
        margin-left: 1.5rem;
      }
    }
  }

  &__moon {
    position: absolute;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;

    //top: -20%;
    //right: -12%;
    right: -18rem;
    top: -15rem;

    background: linear-gradient(53.48deg, #FA45C1 15.94%, #CB389D 20.3%, #571843 29.12%, #000000 37.2%);
    opacity: 0.5;

  }

  &__plane {
    &-1 {
      position: absolute;
      bottom: 5rem;
      left: 5rem;

      @media (max-width: 566px) {
        & {
          display: none;
        }
      }
    }

    &-2 {
      pointer-events: none;
      position: absolute;
      bottom: -15rem;
      transform: rotateY(45deg);
      right: -20rem;
      opacity: .10;
    }
  }
}

