:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0, .3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

.dropdown {
  width: 50rem; }
  .dropdown__search {
    display: flex;
    justify-content: center;
    align-items: center; }
    .dropdown__search__group {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      border-radius: 1rem 1rem 0 0; }
    .dropdown__search__input {
      font-family: inherit;
      font-size: 1.6rem;
      padding: 1.2rem 2rem;
      border-radius: 10rem;
      width: 90%; }
      .dropdown__search__input::-webkit-input-placeholder {
        color: var(--color-grey-dark-3); }
    .dropdown__search__icon {
      position: absolute;
      background-color: transparent;
      top: 50%;
      transform: translateY(-50%);
      right: 5rem;
      cursor: pointer; }
  .dropdown-result {
    display: flex;
    justify-content: center;
    align-items: center; }
    .dropdown-result__list {
      border-radius: 0 0 1rem 1rem;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      width: 100%;
      max-height: 20rem;
      background-color: var(--color-grey-light-1); }
      .dropdown-result__list::-webkit-scrollbar-track {
        border-radius: 1rem; }
      .dropdown-result__list::-webkit-scrollbar {
        width: 10px; }
      .dropdown-result__list::-webkit-scrollbar-thumb {
        height: 2rem;
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  .dropdown__list {
    text-align: center; }
    .dropdown__list__item {
      padding: 1rem 0;
      cursor: pointer;
      font-size: 1.7rem;
      transition: all .1s; }
      .dropdown__list__item:active {
        background-color: transparent; }
      .dropdown__list__item:hover {
        background-color: var(--color-grey-light-3); }
  @media (max-width: 566px) {
    .dropdown {
      width: 3; }
      .dropdown-result__list {
        max-height: 100vh; } }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

li {
  list-style: none; }

a {
  outline: none;
  text-decoration: none; }

input:focus {
  outline: none; }

button {
  outline: none; }

input {
  border: none; }

button {
  border: none; }

body {
  margin: 0;
  font-family: 'Sulphur Point', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif ,Roboto;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.welcome {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #270556, #481051);
  overflow: hidden; }
  .welcome__logo {
    position: relative; }
    .welcome__logo__container {
      position: absolute;
      top: 40px;
      left: 2.5rem;
      display: flex;
      align-items: center; }
      .welcome__logo__container-name {
        margin-left: 1.5rem; }
  .welcome__moon {
    position: absolute;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    right: -18rem;
    top: -15rem;
    background: linear-gradient(53.48deg, #FA45C1 15.94%, #CB389D 20.3%, #571843 29.12%, #000000 37.2%);
    opacity: 0.5; }
  .welcome__plane-1 {
    position: absolute;
    bottom: 5rem;
    left: 5rem; }
    @media (max-width: 566px) {
      .welcome__plane-1 {
        display: none; } }
  .welcome__plane-2 {
    pointer-events: none;
    position: absolute;
    bottom: -15rem;
    transform: rotateY(45deg);
    right: -20rem;
    opacity: .10; }
